@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif !important;
}
@media (max-width: 1199px) {
    a.nav-link {
        font-size: 3rem; 
        margin: 20px 0;
    }
    p {
        font-size: 3.2rem !important;
    }
    h1 {
        font-size: 6rem !important;
    }
    h2 {
        font-size: 5rem !important;
    }
   }

@media (min-width: 1200px) {
    a.nav-link 
    {
        font-size: 1.3rem;
    }
   }
   p {
    font-size: 1.5rem;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none !important;
}
a.animated-nav-link {
    /* RESET */
    text-decoration: none;
    line-height: 1;
    
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 5px 5px;
    overflow: hidden;
    color: white !important;
    vertical-align: bottom;
    transition: color .3s ease-out;
 }
 
 a.animated-nav-link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(235,194,80,1) 0%, rgba(255,244,210,1) 34%, rgba(255,204,82,1) 59%, rgba(230,206,157,1) 69%, rgba(237,216,174,1) 78%, rgba(235,194,80,1) 100%);
    transition: transform .25s ease-out;
 }
 
 a.animated-nav-link:hover { 
    color: #1c0201 !important;
 }
 a.animated-nav-link:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
 }
#button {
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #d7aa54 !important;
    background: linear-gradient(90deg, rgba(235,194,80,1) 0%, rgba(255,244,210,1) 34%, rgba(255,204,82,1) 59%, rgba(230,206,157,1) 69%, rgba(237,216,174,1) 78%, rgba(235,194,80,1) 100%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s ease-in-out forwards;
    animation-iteration-count: infinite;
  }
#button:hover {
    background-clip: border-box;
    -webkit-text-fill-color: #1c0201;
  }
@keyframes gradient {
    0% {
      background-position: 100%;
    }
    50% {
      background-position: 0%;
    }
    100% {
      background-position: -100%;
    }
  }
nav {
    background-color: #1c0201;
    width: 100%;
    position: fixed !important;
    top: 0px;
    left: 0px;
    z-index: 999;
}
.smart-scroll {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}
.scrolled-down {transform:translateY(-100%);}
.scrolled-up {transform:translateY(0);} 
.nav-link {
    font-weight: 600;
    text-align: center;
    color: white !important;
}

footer {
    height: 106px;
    background-color: #1c0201;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex: 1 0 auto;
    width: max-content;
    height: min-content;
}
.footer-links a {
    margin-left: 2vw;
    margin-right: 2vw;
}
.footer-icons {
    flex: 0 0 auto;
    height: min-content;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: auto;
}